<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
            </a>
            <span class="navbar-brand">My Portfolio</span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">
              About <span class="sr-only">(current)</span>
            </a></li>
            <!-- <li><a href="#">Stack Overflow</a></li> -->
            <li><a href="https://github.com/cjw206">Github</a></li>
            <li><a href="https://www.linkedin.com/in/carrick-wilson/">LinkedIn</a></li>
            <!-- <li class="dropdown" dropdown> 
                <a dropdownToggle role="button">
                  Dropdown <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
</nav>

<div style="text-align:center">
<h1>Project examples </h1>
<ul>
  <li *ngFor="let project of projects">
    <span>{{project.projectLink}} {{project.projectDescription}}</span>
  </li>
</ul>
<table class="table table-hover">
    <thead>
      <tr>        
        <th>Project Name</th>
        <th>Language/Frameworks</th>
        <th>About Project</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{project.title}}</td>
        <td>{{project.projectTech}}</td>
        <td><button type button="button" class="btn btn-info" data-toggle="modal" data-target="#about-modal">About</button></td>
        <td><button type="button"  onclick="location.href='project.projectLink'">Go</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" id="about-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

